* {
    margin: 0;
    padding: 0;
}


.clock-bg-container {
    width: 100vw;
    height: 30vh;
    position: relative;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.sample {
    width: 15%;
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    opacity: 0.8;
    background-image: url("./assets/clock/clock.png");
    border-radius: 50%;
    background-size:100% 100%;
    background-position: center;
    position: relative;
    margin: auto;
}

@media (max-width:1000px){
    .sample{
        width: 40%;
    }
}